/* 设置字体 */
@font-face {
  font-family: "issww";
  src: url("https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf");
  /* 字体文件路径 */
  font-display: swap;
}

body,
.gitcalendar {
  font-family: issww !important;
}

/* 侧边栏 */
#playPauseAutoChange,
#changeVideo {
  background-color: #6f42c1;
  color: #fff;
  line-height: 40px;
  text-align: center;
  width: 100px;
  border: none;
  margin: 0 6px;
  border-radius: 6px;
  font-weight: bold;
}
#playPauseAutoChange:hover,
#changeVideo:hover {
  background-color: var(--text-bg-hover);
}
#xjjVideo .item-content:hover {
  box-shadow: none;
}
#xjjVideo{
  text-align: center;
}
.item-content .video-js{
    width: 100%;
    max-height: 650px;
    margin-bottom: 10px;
}
#my_video_1_html5_api:hover{
  box-shadow: none;
}
.vjs-big-play-button{
  display:none !important
}
.vjs-control-bar{
  z-index: 1;
}
/* 侧边栏结束 */

/* box-shadow */
#aside-content .card-widget,
#recent-posts > .recent-post-item,
.cardHover,
#page,
#post,
.error404 #error-wrap .error-content,
.layout > .recent-posts .pagination > :not(.space),
.layout > div:first-child:not(.recent-posts) {
  /* border: 1px solid #dcdcdc !important;
  box-shadow: none; */
  box-shadow: 0 0 0 1px #dcdcdc;
}
.recent-post-item:hover {
  box-shadow: 0 0 0 1px #6f42c1 !important;
}
.card-widget:hover,
#page:hover,
#post:hover {
  box-shadow: 0 0 0 1px #6f42c1 !important;
}

/* 隐私墙样式 */

#article-container strong {
  font-weight: 400 !important;
  color: #fff;
  background: #55585a;
  margin: 0 0.2em;
  padding: 0.2em 0.4em;
}

/* 轮播图样式更改 */
.blog-slider__img {
  width: 375px !important;
}
#recent-posts {
  position: relative;
}
#swiper_container::before {
  content: "推荐文章";
  position: absolute;
  z-index: 2;
  color: #fff;
  background: #6f42c1;
  top: 0px;
  letter-spacing: 1px;
  left: 10px;
  font-size: 13px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 0 0 8px 8px;
}
.blog-slider__content .blog-slider__code{
  display:none
}
.blog-slider__content{
  display:flex;
  flex-direction: column;
  width:100%;
}
/* 结束 */

/* 加密插件 */
.hbe-input-label-content-wave {
  display: contents !important;
}
/* 轮播图媒体查询修改 */
.blog-slider__content{
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.blog-slider__text{
  text-align: start;
}

@media screen and (max-width: 600px) {
  .blog-slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets {
      top: 50% !important;
      margin-top: 1vh;
  }
  #swiper_container{
    display: flex;
    flex-direction: column-reverse;
    padding:0;
  }
  .blog-slider{
    margin-top: 0 !important;
  }
  .blog-slider__text:before {  
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"; /* 插入两个不间断空格 */  
  }
}
/* 导航样式 */
#article-container .flink .flink-list > .flink-list-item:hover a{
  color:#fff 
}
#nav a{
  color:#99a9bf
}
#blog-info i{
  padding:10px
}
/* 导航样式结束 */

/* 主页背景图 */
#page-header.full_page{
  height: 30vh !important
}

#content-inner{
  max-width: 1300px;
}
@media screen and (max-width: 600px) {
  #content-inner{
    width: 95%;
  }
  .blog-slider__code{
    visibility: hidden;
  }
  .blog-slider__img{
    margin-top:-5%;
    padding: 0 !important
  }
  .blog-slider__text{
    margin-bottom:10px !important
  }
  .blog-slider__title{
    margin-bottom:0px !important
  }
}
/* 左上角 */
/* .site-icon{
  visibility: hidden;
} */
 #nav #blog-info .site-icon{
  height:30px;
  transition:transform 0.5s ease;
 }
 #nav #blog-info .site-icon:hover{
  transform:rotate(360deg);
 }
 .avatar-img img:hover{
  transform: none;
 }
/* 文章页模糊 */

@media screen and (max-width: 768px) {
  #page-header.post-bg {
      height: 220px !important;
  }
}
/*  */

/* 首页分栏 */
@media screen and (min-width: 1300px) {
  .recent-posts{
    display:flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-between;
    flex: 1;
    }
    #recent-posts .recent-post-item:first-child{
      flex:0 0 100%;
      flex-direction: row;
    }
    
    #recent-posts .recent-post-item{
    flex:0 0 calc(50% - 10px);
    flex-direction: column;
      height:25em;
    }
    #pagination{
      flex:1 0 100%;
    }
    #recent-posts > .recent-post-item .post_cover{
      width: 100%;
      height:40em;
    }
    #recent-posts > .recent-post-item >.recent-post-info{
      height: 100%;
      width: 100%;
      padding: 18px 32px 18px 32px;
      cursor: pointer;
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      /* gap: 16px; */
      /* justify-content: space-between; */
    }
    .recent-post-item:hover .article-title{
      color:#6f42c1 !important
    }
    .recent-post-item:hover{
      background: #55585a;
    }
}

/* 新闻页样式 开始 */
@media screen and (min-width: 600px) {
  #article-container p{
    font-size: 18px;
  }
}
#article-container  .news_p:nth-of-type(odd){
   background-color: #8c7da8;  
   color:#fff
}
#article-container p .news_p{
  letter-spacing: 2px;
}
/* 新闻页样式 结束 */

/* 分页 */
.pagination>.page-number:hover{
  box-shadow: none !important;
}
/* 分页结束 */

